.navbar {
	background: linear-gradient(
		57.94deg,
		#05041a 0.64%,
		#110e2f 30.24%,
		#110e2f 64.94%,
		#03000b 111.05%
	);

	& .navbar-brand {
		color: #ffffff;
		background: inherit;
		font-family: Roboto Slab;
		font-style: normal;
		font-weight: normal;
		font-size: 2.1508125rem;
		line-height: 45px;
	}
	& .bg-light {
		background-color: #ffffff;
		color: #ffffff;
	}

	& .basic-navbar-nav {
		color: #ffffff;
	}

	& .navbar-nav {
		align-items: center;

    & .login-link {
				font-family: Manrope;
			}

			& .signup-link {
				font-family: Manrope;
				border: 1px solid #ffffff !important;
				border-radius: 4px;
			}
		& .nav-link {
			font-family: Roboto Slab;
			font-style: normal;
			font-weight: normal;
			font-size: 1rem;
			line-height: 21px;
			letter-spacing: -0.015em;
			color: #ffffff;
			margin-right: 3rem;

			&:hover {
				border-bottom: 1px solid #ffffff;
				color: #ffffff;
			}

		}
	}
}
